# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/components/Montserrat-VariableFont_wght.ttf
/src/components/Raleway-VariableFont_wght.ttf
/src/components/Logo.jpg
/src/components/CiscoLogo.png
/src/components/Logo2.jpg
/src/components/number_21.jpg
/src/components/GCalendar.env
