@font-face {
  font-family: Montserrat;
  src: url("./Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: RalewayLight;
  src: url("./Raleway-VariableFont_wght.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url("./Raleway-VariableFont_wght.ttf");
  font-weight: 500;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-background {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.header {
  left: 0;
  top: 0;
  position: sticky;
  align-items: center;
  justify-content:stretch;
  box-shadow: 0px 5px 10px #999999;
  font-family: RalewayLight;
  font-size: 50px;
}

.App-header-list {
  text-align: left;
  display: inline-block;
  margin-top: 0px;
}

.App-header-account {
  text-align: left;
  display: inline-block;
  padding-left: 44vw;
  margin-top: 0px;
  padding-bottom: 0px;
}

.header-account {
  color: #1fb58f;
  font-size: 25px;

  font-family: RalewayLight;
  padding-left: 195px;
}

.header-account:hover {
  color: #069c76;
  font-size: 25px;
  font-family: RalewayLight;
  padding-left: 195px;
}

.header-links {
  color: #444444;
  font-size: 25px;
  font-family: RalewayLight;
  padding-left: 40px;
}

.header-links:hover {
  color: #000000;
  font-size: 25px;
  font-family: RalewayLight;
  padding-left: 40px;
  text-decoration: none;
}

.logo-text {
  color: #1b7834;
  font-size: 70px;
  font-family: Montserrat;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: 900;
}

.logo-text:hover {
  color: #116e2a;
  font-size: 70px;
  font-family: Montserrat;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: 900;
  text-decoration: none;
}

.App-footer {
  background-color: #1fb58f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  font-family: RalewayLight;
  font-size: 20px;
  padding-top: 10px;
}

.footer-table {
  text-align: center;
  width: 100vmax;
}

.White-logo {
  filter: grayscale(100%) brightness(300%);
}



.App-link {
  color: #61dafb;
}