


@font-face {
  font-family: Montserrat;
  src: url("./Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: RalewayLight;
  src: url("./Raleway-VariableFont_wght.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url("./Raleway-VariableFont_wght.ttf");
  font-weight: 500;
}

.about-text {
  padding-right: 0px;
  font-family: RalewayLight;
  font-size: 30px;
  color: #444444;
}

.about-text-small {
  padding-right: 0px;
  font-family: RalewayLight;
  font-size: 25px;
  color: #444444;
}

.about-text-red {
  padding-right: 0px;
  font-family: RalewayLight;
  font-size: 30px;
  color: #f24c4e;
}

.about-text-important {
  padding-top: 0px;
  padding-right: 0px;
  font-family: Raleway;
  font-style:italic;
  font-size: 50px;
  color:#1fb58f;
}

.about-table-left {
  position: absolute;
  left:14.8vw;
  bottom: 8vw;
}

.about-table-1 {
  width: 535px;
}
.about-table-2 {
  width: 700px;
}
.about-table-3 {
  width: 460px;
}

.about-table {
  margin-top: 20px;
  max-width: 60vw;
  left: 0;
  align-items: left;
  text-align: center;
  justify-content: left;
}

.about-logo-text {
  color: #1b7834;
  font-size: 70px;
  font-family: Montserrat;
  padding-left: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
  font-weight: 900;
}

.Game-title {
  font-family: Montserrat;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.game-screen {
  align-items: center;
  text-align: center;
  color:#f24c4e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-image {
  border: 2px solid #444444;
}

.App {
  text-align: center;
}

.mic-button-inactive {
  padding: 10px;
  border-width: 0px;
  border-color:#ffffff;
  border-radius: 0px;
  box-shadow: 0px 5px 10px #999999;
  margin: 10px;
}

.mic-button-inactive:hover {
  padding: 10px;
  border-width: 0px;
  border-color:#ffffff;
  border-radius: 0px;
  box-shadow: 0px 5px 10px #888888;
}

.mic-button-inactive:active {
  padding: 10px;
  border-width: 0px;
  border-color:#ffffff;
  border-radius: 0px;
  box-shadow: 0px 5px 10px #ffffff;
}

.blank-block {
  font-size: 10px;
  height: 0px;
}

.calendar-column {
  width: 76vw;
  padding:0px;
  left:0;
  bottom:0;
  display:flex;
  flex-direction: column;
  min-height: 75vh;
}

.primary-calendar {
  color:#1fb58f
}

.deadline-calendar {
  color: #f24c4e;
}

.calendar-button {
  margin-left: 10px;
  margin-top: 30px;
  font-family: RalewayLight;
  border-radius: 20px;
  border-width: 1px;
  border-color: #1b7834;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:#1b7834;
  color: #ffffff;
  width: 420px;
}

.calendar-button:hover {
  margin-left: 10px;
  margin-top: 30px;
  font-family: RalewayLight;
  border-radius: 20px;
  border-width: 1px;
  border-color: #1b7834;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:#116e2a;
  color: #ffffff;
  width: 420px;
}

.calendar-button:active {
  margin-left: 10px;
  margin-top: 30px;
  font-family: RalewayLight;
  border-radius: 20px;
  border-width: 1px;
  border-color: #1b7834;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:#ffffff;
  color: #1b7834;
  width: 420px;
}

.calendar-button-narrow {
  margin-left: 30px;
  margin-top: 0px;
  font-family: RalewayLight;
  border-radius: 20px;
  border-width: 1px;
  border-color: #1b7834;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:#1b7834;
  color: #ffffff;
}

.calendar-button-narrow:hover {
  margin-left: 30px;
  margin-top: 0px;
  font-family: RalewayLight;
  border-radius: 20px;
  border-width: 1px;
  border-color: #1b7834;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:#116e2a;
  color: #ffffff;
}

.calendar-button-narrow:active {
  margin-left: 30px;
  margin-top: 0px;
  font-family: RalewayLight;
  border-radius: 20px;
  border-width: 1px;
  border-color: #1b7834;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:#ffffff;
  color: #1b7834;
}

.calendar-card-dropdown-primary {
  color: #1fb58f;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: RalewayLight;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-radius: 15px;
  border-width: 1px;
  font-size: 20px;
}

.calendar-card-dropdown-deadlines {
  color: #f24c4e;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: RalewayLight;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-radius: 15px;
  border-width: 1px;
  font-size: 20px;
}

.calendar-card-description {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top:30px;
  font-family: RalewayLight;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-radius: 15px;
  border-width: 1px;
  font-size: 20px;
  width: 390px;
  min-height: 50px;
  max-height: 400px;;
}

.calendar-card-text {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-top:10px;
  font-family: RalewayLight;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-radius: 15px;
  border-width: 1px;
  font-size: 30px;
}

.calendar-card-text-title {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-top:10px;
  font-family: RalewayLight;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-radius: 15px;
  border-width: 1px;
  font-size: 30px;
  width: 390px;
}

.calendar-card-text-small {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: RalewayLight;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-radius: 15px;
  border-width: 1px;
  font-size: 20px;
}

.chatbot-column {
  width: 1316px;
  vertical-align: bottom;
}

.chatbot-table {
  margin-bottom: 20px;
}

.Chatbot-input {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  width: 1200px;
  font-family: RalewayLight;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-radius: 15px;
  border-width: 1px;
  font-size: 30px;
}

.senderID {
  font-family: Montserrat;
  font-size: 20px;
  color: black;

}

.calendar-table {
  margin-left: 30px;
  margin-right: 30px;
}

.resources-card {
  padding: 20px;
  margin-right: 50px;
  background-color: #f5dea3;
  border-radius: 30px;
  box-shadow: 0px 5px 10px #999999;
  font-family: RalewayLight;
  text-align: center;
  max-width: 500px;
  color: #444444;
}

.resources-card-outline {
  margin-right: 50px;
  margin-bottom: 30px;

}

.calendar-card {
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 5px 10px #999999;
  font-family: RalewayLight;
  text-align: left;
  max-width: 500px;
  color: #444444;
}

.calendar-card-bottom {
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  font-family: RalewayLight;
  text-align: center;
  max-width: 500px;
  color: #444444;
}

.calendar-card-outline {
  margin-right: 50px;
  margin-bottom: 0px;
  margin-left: 20px;

}

.App-calendar {
  font-family: Montserrat;
  color:#116e2a;
  background-color: #000000;
  height: 100vh;
}

.bot-message {
  font-family: RalewayLight;
  font-size: 30px;
  background-color: #eab126;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.you-message {
  font-family: RalewayLight;
  font-size: 30px;
  background-color: #1b7834;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;

}

.calendar {
  color: #1fb58f;
  font-family: Raleway;
  border: 10px;
  border-color:#116e2a;
  font-size: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-background {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-background-center {
  background-color: #eab126;
  min-height: 76.75vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-background-center-large {
  background-color: #eab126;
  min-height: 76.75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-background-chatbot {
  background-color: #ffffff;
  min-height: 76.75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-background-small {
  background-color: #ffffff;
  min-height: 76.75vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-background-small-yellow {
  background-color: #eab126;
  min-height: 76.75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-background-small-gradient {
  background: linear-gradient(90deg, rgba(234,177,38,1) 5%, rgba(242,76,78,1) 100%);
  min-height: 76.75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.header {
  left: 0;
  top: 0;
  position: sticky;
  align-items: center;
  justify-content:stretch;
  box-shadow: 0px 5px 10px #999999;
  font-family: RalewayLight;
  font-size: 50px;
}

.Send-button {
  border-width: 0px;
  background-color: #ffffff;
  filter: opacity(90%) grayscale(10%);
}

.Send-button:hover {
  border-width: 0px;
  background-color: #ffffff;
  filter: opacity(100%) grayscale(10%);
}

.Send-button:active {
  border-width: 0px;
  background-color: #ffffff;
  filter: opacity(100%);
}

.App-header-list {
  text-align: left;
  display: inline-block;
  margin-top: 0px;
}

.App-header-account {
  text-align: left;
  display: inline-block;
  padding-left: 48vw;
  margin-top: 0px;
  padding-bottom: 0px;
}

.header-account {
  color: #1fb58f;
  font-size: 25px;

  font-family: RalewayLight;
  padding-left: 0px;
}

.header-account:hover {
  color: #069c76;
  font-size: 25px;
  font-family: RalewayLight;
  padding-left: 0px;
}

.header-links {
  color: #444444;
  font-size: 25px;
  font-family: RalewayLight;
  padding-left: 40px;
}

.header-links:hover {
  color: #000000;
  font-size: 25px;
  font-family: RalewayLight;
  padding-left: 40px;
  text-decoration: none;
}

.logo-text {
  color: #1b7834;
  font-size: 70px;
  font-family: Montserrat;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: 900;
}

.logo-text:hover {
  color: #116e2a;
  font-size: 70px;
  font-family: Montserrat;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: 900;
  text-decoration: none;
}

.App-footer {
  background-color: #1fb58f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  font-family: RalewayLight;
  font-size: 20px;
  padding-top: 10px;
}

.footer-table {
  text-align: center;
  width: 100vmax;
}

.White-logo {
  filter: grayscale(100%) brightness(300%);
}



.App-link {
  color: #61dafb;
}